/* Import Design Tokens */
@import '@onm/design-tokens/dist/variables.css';

:root {
  /* Apply Token Defaults to Global Elements */
  --bg-primary: var(--color-background-primary);
  --text-primary: var(--color-text-normal);
  --font-body: var(--typography-family-ui);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}