name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  lint-and-typecheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install pnpm
      uses: pnpm/action-setup@v3
      with:
        version: 9
        
    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'pnpm'

    - name: Install Dependencies
      run: pnpm install

    - name: Generate Prisma Client
      run: pnpm --filter @onm/db generate

    - name: Lint
      run: pnpm -r lint
      
    - name: Typecheck
      run: pnpm -r --if-present run typecheck
